{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calificador de Docentes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
    body {
      margin-bottom: 100px;
    }
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #343a40;
      color: #fff;
    }
  </style>  
</head>
<body background="{% static 'img/background.jpg' %}" style="background-size: cover;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" href="#" onclick="window.location.reload()">TuProfe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'buscar' %}">Búsqueda</a>
      </li>
    </ul>
    <ul class="mx-auto"></ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="nav-link">{{ user.first_name }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" onclick="return confirm('¿Estás seguro de que quieres cerrar sesión?')">Cerrar Sesión</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
  	<div class="col-md-2"></div>
    <div class="col-md-8 p-4" style="background-color: rgba(200,200,200,0.8); border-radius: 20px; border: 3px solid #000;">
      
		<h1>Bienvenido a TuProfe</h1>
		
  <p>Esta aplicación te permite calificar y evaluar el desempeño de los docentes en nuestra universidad. Ayúdanos a mejorar la calidad educativa proporcionando tus comentarios y calificaciones sobre los docentes.</p>

  <h2>Instrucciones</h2>
  <ol>
    <li>Inicia sesión con tu cuenta de usuario o crea una nueva cuenta si aún no estás registrado.</li>
    <li>Busca al docente que deseas calificar utilizando la función de búsqueda.</li>
    <li>Selecciona al docente y proporciona tu calificación y comentarios en base a tu experiencia con él.</li>
    <li>Recuerda que todos los comentarios y calificaciones se mantienen de forma anónima para proteger tu privacidad.</li>
  </ol>

  <h2>Beneficios de la Aplicación</h2>
  <ul>
    <li>Contribuye a la mejora continua del desempeño docente.</li>
    <li>Ayuda a futuros estudiantes a tomar decisiones informadas al elegir sus docentes.</li>
    <li>Proporciona retroalimentación constructiva para los docentes y la universidad.</li>
    <li>Fomenta la transparencia y la rendición de cuentas en el proceso educativo.</li>
  </ul>

  <p>¡Gracias por utilizar nuestra aplicación de calificación de docentes!</p>


    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<br>

<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="m-1" >Autores: <a href="https://github.com/solayap2601">Sebastián Olaya Pérez</a>, <a href="https://github.com/alejoec03">Juan Alejandro Espinosa Caceres</a>, <a href="https://github.com/AlejandroAguirre2023">Alejandro Aguirre Cardona</a><br><a href="{% url 'politicasp' %}">Política de privacidad</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>






