{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio de Sesión</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <style>
    body {
      margin-bottom: 100px;
    }
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #343a40;
      color: #fff;
    }
  </style>
</head>
<body background="{% static 'img/background.jpg' %}" style="background-size: cover;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
	<a class="navbar-brand" href="{% url 'home' %}">TuProfe</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class="nav-link" href="{% url 'buscar' %}">Búsqueda</a>
    </li>
    </ul>
    <ul class="mx-auto"></ul>
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		  <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
		</li>
	  </ul>
    </div>
</nav>

<br>
<div class="container">
  <div class="row">
  	<div class="col-md-3"></div>
    <div class="col-md-6 p-4" style="background-color: rgba(200,200,200,0.8); border-radius: 20px; border: 3px solid #000;">
      <h1>Iniciar Sesión</h1>
      <p>Inicia sesión para que puedas calificar a los profes con los que tengas clase.</p>
      {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
      {% endif %}
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electrónico:</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo">
          <small id="emailHelp" class="form-text text-muted">Usa el correo universitario</small>
          <br> <br>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña:</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
          <br>  
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <div class="mt-3">
          <a href="{% url 'registro' %}" style="color: black;">No estoy registrado</a>
        </div>
      </form>
    </div>
  </div>
</div>

<br>

<footer class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="m-1">Autores: Max Steven Hurtado Ramos, Sebastián Olaya Pérez, Juan Alejandro Espinosa Caceres, Alejandro Aguirre Cardona <a href="{% url 'politicasp' %}">Política de privacidad</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
