<!DOCTYPE html>
<html>
<head>
	<title>Inicio de sesión</title>
</head>
<body>
	<h1>Bienvenido a califica a tu profe</h1>
	Esta es una aplicación en la cúal verás la recomendacion de docentes para las asignaturas
		<ul>
				<li>Inicia sesión y califica a tus profes</li>
				<li>Mira las recomendaciones por tus compañeros </li>
				<li>Realiza comentarios y guía a tus compañeros </li>
		</ul>
	Rellena los campos para registrarte
	
	<form method="post">
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" required><br><br>
		<label for="contraseña">Contraseña:</label>
		<input type="contraseña" name="contraseña" id="contraseña" required><br><br>
		<button type="submit">Login</button>
	</form>
</body>
</html>