{% extends 'base.html' %}

{% block content %}
<h1>{{ asignatura.nombre }}</h1>
<h3>Descripción:</h3>
<p>{{ asignatura.descripcion }}</p>

<h3>Profesores:</h3>
{% for profesor in profesores %}
    <h4>{{ profesor.nombre }}</h4>
    {% if profesor.num_ratings > 0 %}
        <p>Calificación promedio: {{ profesor.avg_rating|floatformat:1 }}</p>
        <p>Número de calificaciones: {{ profesor.num_ratings }}</p>
    {% else %}
        <p>Aún no hay calificaciones para este profesor.</p>
    {% endif %}
{% empty %}
    <p>No hay profesores registrados para esta asignatura.</p>
{% endfor %}
{% endblock %}