

{% block content %}
  <h1>Calificar al profesor {{ profesor.nombre }} en el curso {{ curso.nombre }}</h1>
  
  <form method="POST">
    {% csrf_token %}
    <label for="valor">Calificación:</label>
    <select id="valor" name="valor">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <br><br>
    <label for="comentario">Comentario:</label>
    <br>
    <textarea id="comentario" name="comentario" rows="5" cols="50"></textarea>
    <br><br>
    <button type="submit">Enviar calificación</button>
  </form>
{% endblock %}