{% extends 'base.html' %}

{% block content %}
  <h1>Resultados de búsqueda para "{{ query }}"</h1>
  {% if asignaturas %}
    <h2>Asignaturas</h2>
    <ul>
      {% for asignatura in asignaturas %}
        <li><a href="{% url 'asignatura' asignatura.id %}">{{ asignatura.nombre }}</a></li>
      {% empty %}
        <p>No se encontraron asignaturas.</p>
      {% endfor %}
    </ul>
  {% endif %}
  {% if profesores %}
    <h2>Profesores</h2>
    <ul>
      {% for profesor in profesores %}
        <li><a href="{% url 'profesor' profesor.id profesor.curso_set.first.id %}">{{ profesor.nombre }}</a> ({{ profesor.curso_set.first.asignatura.nombre }})</li>
        <p>Calificación promedio: {% if profesor.avg_rating %}{{ profesor.avg_rating|floatformat:1 }}/5 ({% endif %}{{ profesor.num_ratings }} {% if profesor.num_ratings == 1 %}calificación{% else %}calificaciones{% endif %})</p>
      {% empty %}
        <p>No se encontraron profesores.</p>
      {% endfor %}
    </ul>
  {% endif %}
  {% if not asignaturas and not profesores %}
    <p>No se encontraron resultados para "{{ query }}".</p>
  {% endif %}
{% endblock %}